@import "variables.css";

@font-face {
  font-family: "onePieceFont";
  src: url(img/animeace2_reg.ttf) format("truetype");
}

body {
  font-family: var(--text-font);
}

* {
  margin: 0px;
  padding: 0px;
}

#myVideo {
  z-index: -5;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.8;
  filter: contrast(120%);
  filter: opacity(120%);
  filter: brightness(40%);
  filter: blur(0px);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  z-index: 10;
  opacity: 0.93;
}

nav img {
  width: 4rem;
  /* margin-inline-start: var(--spacing2); */
  padding: var(--spacing2);
}

nav ul {
  display: flex;
  list-style: none;
  margin-inline: 1rem;
}
nav ul li {
  font-size: clamp(15px, 2vw, 25px);
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--light-primary);
  padding: var(--spacing2);
}

header img {
  width: 100%;
}

nav ul li a:hover {
  cursor: url(img/sunny2.png) 8 12, pointer;
}

header {
  /* text-align: center; */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  /* align-items: flex-end; */
  background: url(img/image_accueil_luffy.resized.png) no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(0.8);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 7vw;
  margin-block-end: 20vh;
  /* background-color: var(--light-primary); */
}

.title h1:first-child {
  font-size: clamp(60px, 8vw, 100px);
  /* margin-block-start: 50vh; */
  /* padding: var(--spacing2); */
  font-family: var(--title-font);
  font-weight: 600;
  color: var(--secondary);
  text-shadow: 3px 2px 5px var(--dark);
}

.jap {
  font-family: var(--text-jap);
  font-size: clamp(30px, 6vw, 70px);
  color: var(--secondary);
  text-shadow: 3px 2px 5px var(--dark);
}

.title h2 {
  font-size: clamp(30px, 3vw, 60px);
  padding: var(--spacing2);
  color: var(--light);
}

.burger,
.close {
  display: none;
}

.xp h2 {
  text-align: center;
  font-size: clamp(30px, 2.5vw, 40px);
  padding-block: 5vh;
  background-color: var(--primary);
  opacity: 0.93;
  color: var(--light-primary);
}

.timeline {
  width: 100%;
  height: 1100px;
  position: relative;
  padding-block: 2vh;
}

.line {
  height: 1100px;
  width: 10px;
  margin: 0 auto;
  background: url("/img/corde.png") center;
}

.image-luffy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--dark);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 7px solid rgb(245, 187, 36, 0.8);
}

.y17 {
  top: 10px;
  background: url(/img/luffy-17y.jpeg) center;
  background-size: 100%;
}

.y21 {
  top: 400px;
  background: url(/img/luffy-21y.jpg) center;
  background-size: 100%;
}

.wano {
  top: 790px;
  background: url(/img/luffy-wano.jpg) center;
  background-size: 100%;
}

.timeline-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30vw;
  min-width: 20vw;
  min-height: 3vh;
  padding-inline: calc(var(--spacing3) * 2);
  padding-block: var(--spacing2);
  border-radius: 50px;
  background-color: var(--light);
  box-shadow: 0 5px 5px var(--dark);
  position: absolute;
  /*left: 50%;*/
  /* transform: translate(-50%); */
  z-index: 2;
  font-size: var(--text-size);
}

.left {
  right: calc(30% + 25vw);
}

.right {
  left: calc(30% + 25vw);
}

.b1 {
  top: 60px;
}

.b2 {
  top: 200px;
}

.b3 {
  top: 450px;
}

.b4 {
  top: 590px;
}

.b5 {
  top: 840px;
}

.left-point {
  width: 0;
  height: 0;
  border-left: 10vh solid transparent;
  border-right: 5vh solid transparent;
  border-top: 5vh solid var(--light);
  position: absolute;
  top: 10%;
  right: -5%;
  transform: rotate(150deg);
  z-index: -1;
}

.right-point {
  width: 0;
  height: 0;
  border-left: 7vh solid transparent;
  border-right: 5vh solid transparent;
  border-top: 5vh solid var(--light);
  position: absolute;
  top: 8%;
  left: -3%;
  transform: rotate(30deg);
  z-index: -1;
}

.timeline-box h3 {
  margin-block-end: var(--spacing2);
  font-weight: bold;
}

.resumeTitle {
  grid-column: span 3;
  grid-row: 1 / 2;
  text-align: center;
}
.resume {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 1fr;
  background-color: var(--light-primary);
}
.resumeBoxes {
  display: grid;
  grid-column: 2 / 3;
}
#caroussel {
  width: 400px;
  overflow: auto;
  border: 2px solid var(--dark);
}
.caroussel {
  display: flex;
  animation-duration: 20s;
  animation-name: mesImages;
  animation-iteration-count: infinite;
}

@keyframes mesImages {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-400px);
  }
  50% {
    transform: translateX(-800px);
  }
  75% {
    transform: translateX(-1200px);
  }
  100% {
    transform: translateX(0px);
  }
}

.combatcompetence {
  display: grid;
  grid-row: 2 / 3;
  justify-content: center;
}

.caracteristique {
  display: grid;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  justify-content: center;
}
.svg {
  stroke-width: 1;
  color: var(--secondary);
  stroke: var(--intermediate);
  stroke-dasharray: 60;
  stroke-dashoffset: 60;
}
.svg {
  animation: animate-svg 2s linear forwards;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}
@keyframes animate-svg {
  0% {
    stroke-dasharray: 0;
  }
  40% {
    stroke-dasharray: 60;
  }
  80% {
    stroke-dasharray: 120;
    fill: transparent;
  }
  100% {
    stroke-dasharray: 120;
    fill: var(--secondary);
  }
}

.recommandations {
  margin: 0;
  padding: 0;
}

.boxRecommandations {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--light-secondary);
  min-height: 50vh;
  gap: var(--spacing2);
}
.boxPersonnages {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  height: 80%;
  min-height: 300px;
  width: 40%;
  min-width: 400px;
  margin-block: var(--spacing2);
}

.img-Perso {
  height: 80%;
  width: 50%;
  margin-inline: var(--spacing2);
}

.recommandation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-inline-end: var(--spacing2);
  color: var(--light);
  height: 80%;
  width: 50%;
}
.recommandation h1 {
  text-align: center;
  font-size: 2rem;
  margin-inline: var(--spacing);
}
.recommandation p {
  margin-inline: var(--spacing);
}

.footerContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  color: var(--light-primary);
  height: 50vh;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    color: var(--light-primary);
    height: 60vh;
    justify-content: center;
}

footer h2 {
    text-align: center;
    font-size: var(--text-size);
    margin-top: var(--spacing3);
}

footer a {
    color: var(--light-primary);
    text-decoration: none;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    width: 250px;
    align-items: center;


}

.escargo {
    width: 250px;
    height: 350px;
}


form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;

}

form label {
    margin-top: var(--spacing3);
    margin-bottom: var(--spacing);
}

form input {
    font-size: var(--text-size);

}

button {
    width: fit-content;
    font-size: var(--text-size);
    border: none;
    border-radius: 4px;
    padding: 4px;
    margin-top: var(--spacing2);
    font-family: var(--title-font);

}

form textarea {
    font-size: var(--text-size);
}

form ul {
    color: red;
    list-style: inside;
}

form li {
    margin-top: var(--spacing);

}

form p {
    color: green;
}

button:hover {
    filter: brightness(120%);
}

button:active {
    filter: brightness(80%);
}


@media screen and (max-width: 736px) {
    .nav-links {
      display: none;
    }
    .nav-links a {
      font-size: 2rem;
    }
  
    .burger {
      display: initial;
      margin-inline-end: 1rem;
    }
  
    .nav-links:target {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      margin: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: var(--dark);
      opacity: 0.85;
    }
    /* .nav-links:target ~ .close {
          display: flex;
          position: fixed;
          width: 100%;
          height: 100vh;
          z-index: 0;
          top:0;
          right:0;
          background-color: var(--intermediate);
          opacity: 0.8; 
      }*/
  
    nav:target {
      display: none;
    }
  
    .title h1:first-child {
      font-size: clamp(37px, 9vw, 80px);
    }
    .line {
      margin-inline-start: 15vw;
    }

    .image-luffy {
        left: 15vw;
    }

    .right {
        left: 25vw;
        max-width: 50vw;
        min-width: 50vw;
        min-height: 20px;
    }
    .left {
        left: 25vw;
        max-width: 50vw;
        min-width: 50vw;
        min-height: 20px;
    }

    .left-point {
        width: 0;
        height: 0;
        border-left: 7vh solid transparent;
        border-right: 5vh solid transparent;
        border-top: 6vh solid var(--light);
        position: absolute;
        top: 20%;
        left: -9%;
        transform: rotate(10deg);
    }
    .right-point {
        display: none;
    }

    /* .line {
        margin-inline-start: 15vw;
    }

    .image-luffy {
        left: 15vw;
    }

    .timeline-box {
        max-width: 60vw;
        min-height: 50px;
    }

    .left {
        left: 60vw;
    }

    .right {
        left: 60vw;
    }

    .left-point {
        width: 0;
        height: 0;
        border-left: 4vh solid transparent;
        border-right: 5vh solid transparent;
        border-top: 6vh solid var(--light);
        position: absolute;
        top: 5%;
        left: -5%;
        transform: rotate(10deg);
    }

    .right-point {
        display: none;
    } */
}

@media screen and (max-width: 880px) {
    .footerContainer {
        flex-direction: column;
    }

    .escargo {
        display: none;
    }

    .socialMedia {
        flex-direction: row;
    }

    form {
        width: 75%;
    }

    footer {
        width: 100%;
    }
}
