@import 'variables.css';
@import 'experience.css';

@font-face {
    font-family: 'onePieceFont';
    src: url(img/animeace2_reg.ttf) format("truetype");
  
   }
*{
     font-family: 'onePieceFont', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



*{
    margin: 0px;
    padding: 0px;
}

#myVideo {
    z-index: -5;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    filter: contrast(120%);
    filter: opacity(120%);
    filter: brightness(40%);
    filter: blur(0px);
  }



nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
}

nav img {
    width: 5rem;
    margin-inline-start: 1rem;
}

nav ul {
    display:flex;
    list-style: none;
    margin-inline: 2rem;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--light-primary);
    padding: 1rem;
}

header img{
    width: 100%;
}
nav ul li a:hover {
    cursor: url(/img/sunny2.png) 8 12 ,pointer;
}

header {
    text-align: center;
}

.burger {
    display: none;
}

.resumeTitle{
    text-align: center;
}

.resumeBoxes{
    display: flex;
    justify-content: space-around;
}
.boxResume{
    border: 1px solid var(--dark);
    width: 50rem;
    height: 40rem;
}


.footerContainer{
    display: flex;
    justify-content: center;
    border: 5px solid var(--dark);
    margin: 1rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;

}





@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .burger {
        display: initial;
        fill:var(--light-primary);
        margin-inline-end: 1rem;
    }

    .nav-links:target {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 2rem;
        top: 0;
        width: 70%;
        height: 80%;
        background-color: #000000;
        opacity: 0.85;
    }
}
